/*----------------CART PAGE START------------------*/

/*---BACK BTN START----*/
.back-container {
	max-width: 900px;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 30px;
}

.back-container a{
	color: #0d66d4;
	text-decoration: none;
}

.back-container i{
	padding-right: 10px;
}
/*---BACK BTN END----*/

/*---CART START----*/
.cart-content{
	font-family: 'Oswald', sans-serif;
	min-height: 750px;
}

.cart-container {
	max-width: 900px;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 60px;
}

.cart-container h2{
	color: #8dc3c4;
}

.cart-products {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.product-img {
	display: flex;
	align-items: center;
}

.cart-products img {
	margin: auto;
	width: 100px;
	padding-right: 20px;
}

.cart-products .fa-trash {
	width: 10px;
	margin-right: 25px;
	cursor: pointer;
	color: #ff3f3f;
}

.cart-products .fa-plus-circle {
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	color: #0d66d4;
}

.cart-products .fa-minus-circle {
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	color: #0d66d4;
}

.cart-product-title {
	width: 55%;
	border-bottom: 1px solid lightgray;
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	padding-top: 20px;
}

.cart-product-price {
	width: 15%;
	border-bottom: 1px solid lightgray;
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	padding-top: 20px;
}

.cart-quantity {
	width: 20%;
	display: flex;
	border-bottom: 1px solid lightgray;
	align-items: center;
	padding-bottom: 20px;
	padding-top: 20px;
}

.cart-total {
	width: 10%;
	display: flex;
	border-bottom: 1px solid lightgray;
	align-items: center;
	padding-bottom: 20px;
	padding-top: 20px;
}

.cart-header {
	color: rgb(170, 170, 170);
	width: 100%;
	max-width: 900px;
	display: flex;
	justify-content: flex-start;
	margin-top: 0 auto;
}

.basketTotalContainer {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 10px 0;
}

.basketTotalTitle {
	width: 35%;
}

.basketTotal {
	width: 10%;
}
/*---CART END----*/


/*---FORM START----*/
.personal-details {
	max-width: 900px;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 80px;
}

.personal-details h2{
	color: #8dc3c4;
}

.cart-form-container {
	padding-top: 40px;
	width: 100%;
	max-width: 900px;
	margin-top: 0 auto;
}

.cart-form {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 25px;
	margin-top: 0 auto;
}

.form-row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
}

.cart-form label {
	margin-left: 15px;
	margin-right: 15px;
	display: flex;
	align-items: center;
}

.cart-form input {
	font-family: 'Oswald', sans-serif;
	margin-left: 15px;
	margin-right: 15px;
	width: 85%;
	display: flex;
	align-items: center;
	padding: 10px;
	font-size: 17px;
}

.cart-buttons {
	max-width: 900px;
	justify-content: space-around;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 50px;
}

.cart-buttons button{
	margin-top: 40px;
	font-family: 'Oswald', sans-serif;
	border-radius: 4px;
	background-color: #346465;
	text-decoration: none;
	color: white;
	padding: 15px 50px 15px 50px;
	font-size: 18px;
	border: none;
}

.cart-buttons button:hover{
	box-shadow: 5px 5px 10px rgba(52, 100, 101, 0.5);
}
/*---FORM END----*/


/*------SUMMARY MODAL START-------*/
.modal {
  display: none; 
  position: fixed; 
  z-index: 10001; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 35px;
  border-radius: 10px;
  width: 50%; 
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-header h1{
	color: #346465;
}

.modal-content h2 {
	font-family: 'Oswald', sans-serif;
	color: #346465;
}

.summary-details {
	margin-bottom: 70px;
}

.summary-details span {
	color: rgb(29, 115, 206);
	font-size: 20px;
}

.summary-details h3 {
	color: rgb(114, 114, 114);
}

.summary-products h3 {
	color: rgb(114, 114, 114);
}

.modal-cart-products {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.modal-cart-products img {
	margin: auto;
	width: 70px;
	padding-right: 20px;
}

.modal-row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-bottom: 15px;
}

.modal-column {
	display: grid;
	grid-template-columns: 1fr;
}

.close {
  color: #aaa;
  float: right;
  font-size: 45px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*------SUMMARY MODAL END-------*/


/*------DONE MODAL START-------*/
.done-modal {
	display: none; 
	position: fixed; 
	z-index: 10001; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
	align-items: center;
  }
  
  .done-content {
	display: grid;
	grid-template-rows: 1fr 1fr;
	background-color: #fefefe;
	margin: 15% auto; 
	padding: 20px;
	border-radius: 10px;
	width: 300px; 
	height: 200px;
  }

  .done-content img{
	display: flex;
	align-items: center;
	width: 100px;
	padding-top: 20px;
	padding-left: 32%;
  }

  .done-content h2{
	font-family: 'Oswald', sans-serif;
	display: flex;
	justify-content: center;
  }
  /*------DONE MODAL END-------*/
